body{
background: #000
}
.nav{
    background: slateblue;
   
}

.nav-ul{
    list-style: none;
    display: flex;
}
.nav-li{
    padding: 12px;
}
.nav-li i{
    color: #fff;
    margin: 0px 3px;
    text-align: right;
}
.nav-li a{
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}
.grid-item{
    box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.95);
}
.grid-item img{
    width: 100%;
    height: 170px;
}
.grid-item h3{
    color: #000;
font-weight: bold;
font-family: sans-serif;
text-align: center;
margin-top: 20px;
}
.grid-item p{
    color: #000;
font-weight: bold;
font-family: sans-serif;
margin-top: 30px;
padding: 0px 5px;
text-align: center;
}
.grid-item a{
    color: rgb(0, 80, 255);
text-decoration: none;
font-family: sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
display: block;
padding: 20px;
margin-bottom: 10px;
}

@media (max-width: 1020px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 700px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 525px) {
    .nav-li a{
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
}
